@import "tailwindcss";
@import "uniwind";

@theme {
    /* Open Sans font */
    --font-opens-sans: "OpenSans-Regular";
    --font-opens-sans-medium: "OpenSans-Medium";
    --font-opens-sans-light: "OpenSans-Light";
    --font-opens-sans-semibold: "OpenSans-SemiBold";
    --font-opens-sans-bold: "OpenSans-Bold";

    /* Oleo Script font */
    --font-oleo-script: "OleoScript-Regular";
    --font-oleo-script-bold: "OleoScript-Bold";

    /* Oldenburg font */
    --font-oldenburg: "Oldenburg-Regular";
}
